<!-- List -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header mb-4 pb-2 d-flex align-items-center justify-content-between">
          <div>
            <h6>Daftar Pengguna</h6>
          </div>
          <div class="bg-primary p-3 d-flex text-center btn btn-rounded">
            <a class="d-flex align-items-end nav-link" href="/add">
              <div class="icon p-0">
                <i class="fas fa-plus text-white"></i>
              </div>
              <div class="p-0">
                <span class="ms-1 text-white">Tambah</span>
              </div>
            </a>
          </div>
        </div>
        <div class="card-body px-3 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table id="tableData" class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nama User</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Alamat</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                </tr>
              </thead>
              <tbody>
                <% data.users.map((user) => { %>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><%= user.name; %></h6>
                        <p class="text-xs text-secondary mb-0"><%= user.email; %></p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      <%= user.villageName && user.districtName ? `${util.toCapitalizeEachWord(user.villageName || '')},
                      ${util.toCapitalizeEachWord(user.districtName || '')}` : '-'; %>
                    </p>
                    <p class="text-xs text-secondary mb-0">
                      <%= user.cityName && user.provinceName ? `${util.toCapitalizeEachWord(user.cityName || '')},
                      ${util.toCapitalizeEachWord(user.provinceName || '')}` : '-'; %>
                    </p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success"><%= user.status; %></span>
                  </td>
                  <td class="align-middle text-center">
                    <a
                      href="/users/<%= user.slug; %>"
                      class="text-secondary font-weight-bold text-xs"
                      data-toggle="tooltip"
                      data-original-title="Edit user"
                    >
                      Detail
                    </a>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
